<body id="body"></body>
<script>


var canvas = null;
var ctx = null;
var assets = ['/public/images/models/robot/robowalk00.png',
              '/public/images/models/robot/robowalk01.png',
              '/public/images/models/robot/robowalk02.png',
              '/public/images/models/robot/robowalk03.png',
              '/public/images/models/robot/robowalk04.png',
              '/public/images/models/robot/robowalk05.png',
              '/public/images/models/robot/robowalk06.png',
              '/public/images/models/robot/robowalk07.png',
              '/public/images/models/robot/robowalk08.png',
              '/public/images/models/robot/robowalk09.png',
              '/public/images/models/robot/robowalk10.png',
              '/public/images/models/robot/robowalk11.png',
              '/public/images/models/robot/robowalk12.png',
              '/public/images/models/robot/robowalk13.png',
              '/public/images/models/robot/robowalk14.png',
              '/public/images/models/robot/robowalk15.png',
              '/public/images/models/robot/robowalk16.png',
              '/public/images/models/robot/robowalk17.png',
              '/public/images/models/robot/robowalk18.png'
             ];
var frames = [];
var currentFrame = 0;
var onImageLoad = function(){
    frames.push(this);
};

var setup = function() {
    body = document.getElementById('body');
    canvas = document.createElement('canvas');

    ctx = canvas.getContext('2d');
    
    canvas.width = 100;
    canvas.height = 100;

    body.appendChild(canvas);

    while(assets.length > 0) {
        var image = new Image();
        image.onload = onImageLoad;
        image.src = assets.shift();
    }
    // Load each image URL from the assets array into the frames array 
    // in the correct order.
    // Afterwards, call setInterval to run at a framerate of 30 frames 
    // per second, calling the animate function each time.
    // YOUR CODE HERE
    setInterval(animate, 1000/30);
};

var animate = function(){
    // Draw each frame in order, looping back around to the 
    // beginning of the animation once you reach the end.
    // Draw each frame at a position of (0,0) on the canvas.
  
    // Try your code with this call to clearRect commented out
    // and uncommented to see what happens!
    //
    ctx.clearRect(0,0,canvas.width, canvas.height);
  
    ctx.drawImage(frames[currentFrame], 0, 0);
    currentFrame = (currentFrame+1) % frames.length;
    //(currentFrame == frames.length){currentFrame = 0;}
    // YOUR CODE HERE
};

// We'll call your setup function in our test code, so
// don't call it in your code.
 setup();

</script>